{% extends 'base.html' %}
{% load static %}
{% block content %}
<div  class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'images/img3.webp' %}" height="500px" width="100%">
    </div>
  </div>
</div>
<br>
    <div class="row">
        <div class="col-md-12">
<center><h2>About Us</h2></center>
<p style="text-align:justify;line-height:2;">At Tour Ease, we believe that travel is more than just visiting new places—it's about creating unforgettable memories, experiencing diverse cultures, and connecting with the world in meaningful ways. Our mission is to transform your travel dreams into reality, providing exceptional service and personalized travel experiences that leave you with stories to tell for a lifetime. Tour Ease aims to provide wide variety of personally picked tours with good destinations.Our tour managers are qualified,skilled and friendly to bring best service. We provide tour packages at best price. You can always get professional support from our staff and ask any questions</p>
    </div>
<br>
    <div  class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'images/img7.webp' %}" height="100%" width="100%">
    </div>
  </div>
</div>
<br><br>
<div class="container">
    <center><h2>Why Choose Us</h2></center>
    <div class="row">
        <div class="col-md-12">
            <p style="text-align:justify;line-height:2;">Personalized Service: We take the time to get to know you and your travel preferences, ensuring each trip is uniquely yours.
Expert Knowledge: Our team consists of seasoned travelers and destination specialists who provide invaluable insights and recommendations.
Attention to Detail: We handle all the logistics, so you can relax and enjoy your journey without any worries.
24/7 Support: Our support team is available around the clock to assist you with any needs or emergencies during your trip.</p>
        </div>
    </div>
<br>
<div  class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'images/img10.webp' %}" height="500px" width="100%">
    </div>
  </div>
</div>
    <br>
<center><h2>Contact</h2></center>
<section class="contact-info">
<center>
    <p>For more details and queries, please contact us using the below contact details.</p>
    <div class="contact-details">
        <p><strong>Email:</strong> contact@tourease.com</p>
        <p><strong>Phone:</strong> 9087863437</p>
        <p><strong>Address:</strong> 123 Building Street, City, State, ZIP</p>
    </div>
</center>
</section>
<br><br><br>
    {% endblock %}
