{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container" style="margin-bottom:100px;">
    <div class="row mt-5">
      {% for i in p %}
      <div class="col-sm-4 me-5">
          <img src="{{i.image.url}}" alt="img" height="400px" width="400px">
      </div>
      <div class="col-sm-6 me-5">
      <p><b>{{i.name}}</b></p>
      <p>{{i.desc}}</p>
          {% endfor %}
          <a href="{% url 'tourapp:booking' %}" class="btn btn-primary">Book Now</a>
  </div>
</div>

{% endblock %}