{% extends 'base.html' %}
{% load static %}
{% block content %}
<div  class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'images/land.webp' %}" height="500px" width="100%">
    </div>
  </div>
</div>
<br>
<center><h2>PACKAGES</h2></center>
<div class="container-fluid mt-3" style="margin-bottom:100px;">
  <div class="row row-cols-3">
    {% for i in p %}
    <div class="col">
      <div class="card" style="width: 30rem;">
         <img src="{{ i.image.url }}"  alt="img" style="height:200px; width:100%;" class="card-img-top" >
         <div class="card-body">
           <center>
           <h5 class="card-title">{{ i.name }}</h5>
           <a href="{% url 'tourapp:details' i.name %}" class="btn btn-primary">DETAILS</a>
           </center>
         </div>
      </div>
    </div>
    <br><br>
    {% endfor %}
  </div>
</div>
{% endblock %}