{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-bottom:100px;">
<center><h2 class="mt-4">Register Here</h2></center>
  <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-box">
<label class="form-label">Username</label>
        <input type="text" class="form-control" name="u" placeholder="Enter username"><br><br><br>
                </div>
<div class="input-box">
    <label class="form-label">Password</label>
        <input type="password" class="form-control" name="p" placeholder="Enter password"><br><br><br>
</div>
    <div class="input-box">
<label class="form-label">Confirmation password</label>
        <input type="password" class="form-control" name="cp" placeholder="Enter confirm password"><br><br><br>
    </div>
 <div class="input-box">
<label class="form-label">Firstname</label>
        <input type="text" class="form-control" name="f" placeholder="Enter first name"><br><br><br>
    </div>
  <div class="input-box">
<label class="form-label">Lastname</label>
        <input type="text" class="form-control" name="l" placeholder="Enter last name"><br><br><br>
    </div>
  <div class="input-box">
<label class="form-label">Email address</label>
        <input type="text" class="form-control" name="e" placeholder="Enter the email"><br><br><br>
    </div>
    <div class="input-box">
    <input type="submit" class="form-control">
       </div>
        </form>

</div>
{% endblock %}